<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.FMounterV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.FMounterV1.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DEGear" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="RAGear" serializeAs="String">
                <value>180885</value>
            </setting>
            <setting name="IsTimeRunning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0 (0;90)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </ASCOM.FMounterV1.Properties.Settings>
    </userSettings>
</configuration>